.advantages
	$color: #319300

	position: relative
	padding: 15px
	background: $color
	color: #fff
	
	h4
		font:
			size: 1.7em
			family: $font-2
		letter-spacing: -1px

	.container
		@extend .clearfix

		z-index: 1
		width: 100%
		height: 110px
		overflow: hidden
		position: relative
		margin-top: 25px

		.slider
			width: 100%
			height: 100%
			float: left
			background: $color
			text-align: center

			img
				margin-bottom: 10px

			p
				line-height: 130%

	.prev
		z-index: 99
		display: block
		width: 11px
		height: 46px
		position: absolute
		left: 15px
		top: 75px
		background: image-url('prevnext.png') 0 0 no-repeat
		text-indent: -9999px

	.next
		z-index: 99
		display: block
		width: 11px
		height: 46px
		position: absolute
		right: 15px
		top: 75px
		background: image-url('prevnext.png') -13px 0 no-repeat
		text-indent: -9999px
