$main-width: 1002px
$field-height: 34px

body
	background: #eee
	color: #222
	font:
		size: 0.75em
		family: $font-base

strong
	font-weight: bold

em
	font-style: italic

button
	cursor: pointer

	&[disabled]
		+opacity(0.5)

		cursor: default
