.link-button
	+button

.link-button-large
	@extend .button-large

.link-button-submit
	background: $color-3

.link-button-success
	background: $color-success

.link-button-warning
	background: darken($color-1, 12%)

.button-banner
	+border-radius(3px)
	+transition(all 0.1s)

	display: block
	padding: 15px
	border: none
	background: $color-5
	color: darken($color-5, 20%)
	font:
		size: 1.1em
		family: $font-2
	line-height: 140%
	text:
		transform: uppercase
		decoration: none
		align: center

	&:hover
		background: lighten($color-5, 5%)
