.calendar
	@extend .clearfix

	margin-bottom: 15px

	ul
		li
			a
				@extend .clearfix

				display: block
				margin-bottom: 10px
				text-decoration: none

				.date
					+box-sizing(border-box)

					width: 30%
					float: left
					padding: 15px 0
					background: lighten($color-5, 30%)
					color: darken($color-5, 10%)
					text-align: center

					.day
						font-size: 2.5em

					.month
						font-size: 1.2em
						text-transform: uppercase

				.resume
					+transition(all 0.1s)

					width: 65%
					float: right
					color: #222
					line-height: 110%
					
					.heading
						font:
							size: 1.1em
							family: $font-2

					.description
						margin-top: 5px
						font-size: 0.9em

				&:hover
					.resume
						color: $color-5

	.all
		+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
		+border-radius(3px)
		+transition(all 0.1s)

		display: inline-block
		float: right
		padding: 10px 15px
		background: $color-5
		color: #fff
		font:
			size: 0.9em
			family: $font-2
		text:
			transform: uppercase
			decoration: none

		&:hover
			background: lighten($color-5, 5%)