.collapse-main
	margin-bottom: 15px

	.collapse-main-heading
		+border-radius(3px)
		+transition(all 0.2s)

		display: block
		overflow: hidden
		padding: 15px
		background: #999
		color: #fff
		font:
			size: 1.5em
			family: $font-2
		line-height: 110%
		text-decoration: none

		span
			$height: 19px
			+border-radius(100px)

			width: $height
			height: $height
			float: right
			margin-left: 15px
			border: 1px solid #fff
			font:
				size: 15px
				family: $font-1
			line-height: $height
			text-align: center

		&:hover
			background: $color-3

	.collapse-main-content
		+border-bottom-radius(3px)

		display: none
		padding: 15px
		border: 1px dotted $color-3
		border-top: none

.collapse-main-open
	.collapse-main-heading
		+border-bottom-radius(0)

		background: $color-3

	.collapse-main-content
		display: block
