// SHOWCASE COURSES
.showcase-courses
	overflow: hidden

	.item
		width: 280px
		height: 160px
		overflow: hidden
		float: left
		margin: 20px

		.header
			overflow: hidden
			margin-bottom: 5px

			img
				float: left
				margin-right: 10px

			h5
				margin-bottom: 3px
				font:
					size: 10px
					family: $font-2
				text-transform: uppercase

			h4
				font:
					weight: bold
					size: 13px
					// family: $font-2
				line-height: 115%

				a
					+transition(all 0.2s)

					color: $color-3
					text-decoration: none

		.details
			overflow: hidden
			margin-bottom: 10px
			line-height: 30px

			.price
				float: left
				color: $color-3
				vertical-align: super
				font-size: 15px

				strong
					vertical-align: middle
					font:
						weight: normal
						size: 25px
						// family: $font-2
					letter-spacing: -1px

				&.free
					color: $color-success

			.length
				+border-radius(3px)

				float: right
				padding: 0 10px
				background: #ddf0f6
				color: $color-3
				font:
					size: 10px
					family: $font-2
				text-transform: uppercase

				strong
					display: inline-block
					margin-left: 5px
					padding-left: 30px
					background: image-url('ico_length.png') 0 50% no-repeat
					font-weight: normal !important
					text-transform: none

		.action
			overflow: hidden
	
			li
				display: inline

				&.more
					a
						+text-shadow(1px 1px 0 rgba(255, 255, 255, 0.3))
						+box-sizing(border-box)

						display: block
						float: left
						padding: 0 15px
						text-decoration: none
						background:
							color: darken($color-1, 5%)
							image: linear-gradient($color-1 50%, darken($color-1, 5%) 50%)
						color: darken($color-1, 20%)
						font:
							size: 14px
							family: $font-2
						letter-spacing: -1px
						line-height: 41px
						text-transform: uppercase

				&.buy
					a
						+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
						+box-sizing(border-box)

						display: block
						width: 169px
						height: 41px
						float: right
						padding-left: 30px
						text-decoration: none
						background: image-url('arrowbt_green.png') 0 0 no-repeat
						color: #fff
						font:
							size: 19px
							family: $font-2
						letter-spacing: -1px
						line-height: 41px
						text-transform: uppercase

// DETAILS COURSE
.details-course
	overflow: hidden
	margin-bottom: 30px
	padding-bottom: 30px
	border-bottom: 1px dotted #ccc

	.item
		width: 400px
		overflow: hidden
		float: left

		.header
			overflow: hidden
			margin-bottom: 10px

			img
				float: left
				margin-right: 10px

			h5
				margin-bottom: 3px
				font:
					size: 11px
					family: $font-2
				text-transform: uppercase

			h4
				font:
					weight: bold
					size: 17px
				color: $color-3
				line-height: 115%
				text-decoration: none

		.resume
			margin-bottom: 5px
			line-height: 130%

			p
				margin-bottom: 5px

		.details
			overflow: hidden
			margin-bottom: 10px
			line-height: 40px

			.price
				float: left
				color: $color-3
				vertical-align: super
				font-size: 19px

				strong
					vertical-align: middle
					font:
						weight: normal
						size: 33px
					letter-spacing: -1px

				&.free
					color: $color-success

			.length
				+border-radius(3px)

				float: right
				padding: 0 10px
				background: #ddf0f6
				color: $color-3
				font:
					size: 11px
					family: $font-2
				text-transform: uppercase

				strong
					display: inline-block
					margin-left: 5px
					padding-left: 30px
					background: image-url('ico_length.png') 0 50% no-repeat
					font-weight: normal !important
					text-transform: none

		.note
			margin-bottom: 10px
			font-size: 10px
			line-height: 130%

		.action
			overflow: hidden
	
			li
				display: inline

				&.buy
					a
						+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
						+box-sizing(border-box)

						display: block
						width: 227px
						height: 56px
						padding-left: 30px
						text-decoration: none
						background: image-url('arrowbt-large_green.png') 0 0 no-repeat
						color: #fff
						font:
							size: 29px
							family: $font-2
						letter-spacing: -1px
						line-height: 56px
						text-transform: uppercase

	.preview
		width: 510px
		height: 287px
		float: right
		background: #000

// VIEWER COURSES
.viewer-courses
	margin-top: 30px

	.header
		margin-bottom: 15px
		padding-top: 30px
		border-top: 3px solid #eee

		h5
			margin-bottom: 5px
			font:
				size: 1.2em
				family: $font-2
			text-transform: uppercase

		h4
			font:
				size: 2.9em
				family: $font-2
			letter-spacing: -2px

	.videoplayer
		background: #fff
		text-align: center

		.container
			display: inline-block
			height: 376px
			vertical-align: bottom

			object
				display: inline-block

	.video-description
		margin-top: 20px
		padding: 0 15px
		border-top: 1px dotted #ccc
		// color: #666

	.support
		+border-radius(3px)

		padding: 15px
		background: #eee

		.alert
			display: none
			float: left
			padding-left: 23px
			background:
				position: 0 0
				repeat: no-repeat
			line-height: 16px

		.alert-success
			background-image: image-url('ico_success.png')
			color: $color-success

		.alert-error
			background-image: image-url('ico_warning3.png')
			color: $color-danger

		.alert-loading
			background-image: image-url('ajax-loader4.gif')
			color: $color-3

	.list-courses
		li
			+transition(all 0.2s)

			display: block
			overflow: hidden
			padding: 15px
			border-bottom: 1px dotted #ccc

			&:hover
				background: $color-4

			&.highlight
				background: #eee

			.item
				width: 430px
				overflow: hidden
				float: left

				h4
					font:
						size: 15px
						family: $font-2

				.details
					margin-top: 10px
					color: $color-3
					font:
						size: 11px
					line-height: 115%

				.tags
					margin-top: 5px
					color: $color-3
					font:
						style: italic
						size: 11px
					line-height: 115%


			.button
				$color: #999
				+border-radius(3px)

				width: 100px
				height: 27px
				float: right
				background-color: $color
				color: #fff
				font:
					size: 12px
					family: $font-2
				line-height: 27px
				text:
					align: center
					transform: uppercase
					decoration: none

			.button-view
				background: $color-5

			.button-buy
				background: $color-success

			.button-disabled
				+opacity(0.5)

				cursor: default
				background: $color-5

	.support-links
		+border-radius(3px)

		padding: 15px
		background: #eee
		line-height: 130%

		ul
			li

				a
					+border-radius(3px)
					+transition(all 0.2s)

					display: block
					margin: 10px 0
					padding: 10px
					border: 1px dotted $color-3
					color: $color-3
					font-size: 11px
					text-decoration: none

					&:hover
						background: $color-3
						color: #fff

	.tools-course
		padding: 10px 0
		border: 2px solid #eee
		border-left: none
		border-right: none
		text-align: center

		a
			+button($color-5)
