.field
	+border-radius(3px)
	+box-sizing(border-box)

	width: 260px
	height: 35px
	padding: 0 10px
	border: 1px solid #ccc
	background:
		color: #fff
		image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
	font:
		size: 14px
		family: $font-base

.button-large
	height: 45px !important
	font-size: 21px !important
	line-height: 45px !important
