.heading-3
	margin-bottom: 25px
	color: $color-3
	font:
		size: 2.7em
		family: $font-2
	line-height: 115%
	letter-spacing: -2px

	span
		color: $color-2

.heading-4
	margin-bottom: 15px
	color: #222
	font:
		size: 1.5em
		family: $font-2
	letter-spacing: -1px

.heading-5
	display: inline-block
	margin-bottom: 15px
	padding: 5px 10px
	background: $color-2
	color: #fff
	font:
		size: 1.5em
		family: $font-2
	line-height: 115%
	letter-spacing: -1px
	text-transform: uppercase

.heading-separate
	padding-bottom: 10px
	border-bottom: 1px dotted

.heading-star-green
	padding-left: 27px
	background: image-url('star-green.png') 0 50% no-repeat

.heading-star-red
	padding-left: 27px
	background: image-url('star-red.png') 0 50% no-repeat

.heading-star-yellow
	padding-left: 27px
	background: image-url('star-yellow.png') 0 50% no-repeat

.heading-star-gray
	padding-left: 27px
	background: image-url('star-gray.png') 0 50% no-repeat

.heading-group
	margin: 15px 0
	color: $color-3
	font:
		size: 1.8em
		family: $font-1
	line-height: 115%
	letter-spacing: -1px
	text-transform: uppercase

.heading-sub
	margin: 15px 0
	padding: 0 0 10px 25px
	border-bottom: 1px dotted #ccc
	background: image-url('star-gray.png') 0 3px no-repeat
	color: #999
	font:
		weight: bold
		size: 1.8em
		family: $font-1
	line-height: 115%
	letter-spacing: -1px

.heading-box
	+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))

	margin-bottom: 10px
	padding: 10px
	background: $color-6
	color: #fff
	font:
		size: 1.2em
		family: $font-2
	text-transform: uppercase

.heading-box-blue
	background: $color-3

.heading-box-darkblue
	background: $color-7

.heading-box-darkyellow
	background: $color-5
