.image-field
	+border-radius(3px)
	+transition(all 0.1s)

	margin-top: 10px
	padding: 15px
	border: 1px solid #ccc
	cursor: pointer
	background: #eee

	&:hover
		border-color: #999

	.preview
		margin: 10px 0
		padding-bottom: 10px
		border-bottom: 1px dotted #ccc

		img
			display: block
			width: 174px
			// height: 215px
			margin: 0 auto
