.global-header
	background: #000 image-url('header-bg.jpg') 0 100% no-repeat

	.global-header-container
		width: $main-width
		height: 178px
		position: relative
		margin: 0 auto

	.logo
		position: absolute
		left: 0
		bottom: 20px

		a
			+replace-text-with-dimensions('logo-mpcursos.png')

			display: block

	.welcome
		position: absolute
		left: 0
		top: 20px
		color: #fff
		font-size: 1.1em

	.search
		position: absolute
		right: 580px
		top: 113px

		legend
			display: none

		input
			@extend .field
			+border-right-radius(0)

			width: 170px
			height: 25px
			float: left
			margin: 0
			border: none
			line-height: 25px

		button
			+border-right-radius(3px)
			+box-sizing(border-box)
			+transition(all 0.1s)

			width: 35px
			height: 25px
			float: left
			margin: 0
			border: none
			background: $color-6 image-url('ico_search.png') 50% 50% no-repeat
			text-indent: -9999px

			&:hover
				background-color: lighten($color-6, 5%)

	.certified
		+transition(all 0.1s)

		display: block
		position: absolute
		right: 355px
		top: 110px
		padding-left: 35px
		background: image-url('ico_ok.png') 0 50% no-repeat
		color: $color-2
		line-height: 130%
		text-decoration: none

		h5
			font-size: 1em

		span
			font-size: 0.9em

		&:hover
			color: #fff

	.giftcard
		+transition(all 0.1s)

		display: block
		position: absolute
		right: 160px
		top: 110px
		padding-left: 50px
		background: image-url('ico_card.png') 0 50% no-repeat
		color: $color-2
		line-height: 130%
		text-decoration: none

		h5
			font-size: 1.1em

		span
			font-size: 0.9em

		&:hover
			color: #fff

	.cart
		+transition(all 0.1s)

		display: block
		position: absolute
		right: 0
		top: 110px
		padding-left: 48px
		background: image-url('ico_cart.png') 0 50% no-repeat
		color: #fff
		line-height: 130%
		text-decoration: none

		h5
			font-size: 1em

		span
			font-size: 0.9em

		&:hover
			color: $color-5

	.session
		+box-sizing(border-box)
		
		width: 594px
		height: 81px
		position: absolute
		right: 0
		top: 0
		padding: 15px
		background: image-url('session-bg.png') 0 0 no-repeat

		h4
			padding-left: 35px
			background: image-url('ico_user.png') 0 50% no-repeat
			color: #fff
			font:
				size: 1.2em
				family: $font-2
			line-height: 43px
			text-transform: uppercase
			vertical-align: middle

		.logged
			> ul
				position: absolute
				right: 15px
				top: 15px

				> li
					display: inline
					position: relative
					margin-left: 5px

					> a
						+border-radius(3px)
						+box-sizing(border-box)
						+transition(all 0.1s)

						display: inline-block
						color: #fff
						font:
							size: 17px
							family: $font-1
						letter-spacing: -1px
						line-height: 35px
						text-decoration: none

					&.account
						> a
							width: 173px
							height: 35px
							padding-left: 20px
							background:
								color: darken($color-1, 12%)
								image: image-url('dropdown.png')
								position: right 50%
								repeat: no-repeat

					&.logout
						> a
							height: 35px
							padding: 0 20px
							background:
								color: $color-danger
								position: right 50%
								repeat: no-repeat

					ul
						+border-bottom-radius(3px)
						+box-sizing(border-box)

						z-index: 900
						display: none
						width: 173px
						overflow: hidden
						position: absolute
						left: 0
						top: 22px
						padding: 0 10px 10px
						background: darken($color-1, 12%)
				
						li
							a
								+transition(all 0.2s)

								display: block
								padding: 5px 10px
								border-left: 1px solid rgba(255, 255, 255, 0.4)
								color: #fff
								font-size: 12px
								line-height: 120%
								text-decoration: none

								&:hover
									border-color: #fff
									background: darken($color-1, 14%)

							&:last-child
								a
									border-bottom: none

			.lastaccess
				width: 190px
				position: absolute
				right: 280px
				top: 20px
				color: $color-2
				font-size: 11px
				line-height: 130%
				text-align: right

		form
			position: absolute
			right: 15px
			top: 15px

			legend
				display: none

			input
				@extend .field

				width: 135px
				height: 25px
				margin-right: 10px
				border: none
				line-height: 25px

			button
				+border-radius(3px)
				+box-sizing(border-box)
				+transition(all 0.1s)

				height: 25px
				padding: 0 15px
				margin: 0
				border: none
				background: $color-5
				color: darken($color-5, 20%)
				font:
					size: 12px
					family: $font-2
				line-height: 25px
				text:
					decoration: none
					transform: uppercase

				&:hover
					background: lighten($color-5, 5%)

			.util
				overflow: hidden
				background: image-url('ajax-loader.gif') -99px 0 no-repeat
				margin-top: 8px
				color: #fff
				font-size: 11px
				line-height: 16px

				.alert
					display: none
					float: left
					padding-left: 23px
					background: image-url('ico_warning.png') 0 0 no-repeat
					color: $color-1

				.alert-loading
					background-image: image-url('ajax-loader.gif')

				.links
					li
						display: inline
						padding: 0 11px 0 7px
						border-right: 1px solid #fff

						&:first-child
							padding-left: 0

						&:last-child
							padding-right: 0
							border-right: none

						a
							color: #fff
							text-decoration: none

							&:hover
								text-decoration: underline

.global-nav
	background: $color-6

	> ul
		@extend .clearfix

		width: $main-width
		margin: 0 auto

		> li
			display: block
			float: left
			position: relative

			> a
				+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
				+transition(all 0.1s)

				display: block
				padding: 15px
				color: #fff
				font:
					size: 1.1em
				text:
					transform:  uppercase
					decoration: none

				&.active,
				&:hover
					background: $color-3

			&.signup
				float: right

				> a
					+text-shadow(none)

					padding-left: 40px
					background: $color-5 image-url('ico_trophy.png') 10px 50% no-repeat
					color: darken($color-5, 20%)
					font-family: $font-2

					&:hover
						background-color: lighten($color-5, 5%)

			> ul
				+border-bottom-radius(3px)
				+box-sizing(border-box)

				z-index: 900
				display: none
				width: 230px
				overflow: hidden
				position: absolute
				left: 15px
				top: 100%
				padding: 10px
				background: $color-3
		
				li
					a
						+transition(all 0.1s)
						+box-sizing(border-box)

						display: block
						padding: 5px 15px
						border-left: 1px solid $color-2
						color: $color-2
						font-size: 11px
						line-height: 120%
						text-decoration: none

						&:hover
							border-color: #fff
							color: #fff

.global-slider
	background: #000

	.global-slider-container
		width: $main-width
		height: 456px
		overflow: hidden
		position: relative
		margin: 0 auto

	.items
		z-index: 1
		position: relative

		li
			display: block
			width: $main-width
			height: 456px
			float: left

	.nav
		z-index: 99
		position: absolute
		top: 25px
		right: 25px

		a
			display: block
			position: absolute

		.prev
			+replace-text-with-dimensions('arrow-rounded-left.png')

			top: 11px
			right: 25px

		.next
			+replace-text-with-dimensions('arrow-rounded-right.png')

			top: 0
			right: 0

.global-footer
	+box-sizing(border-box)

	width: $main-width
	position: relative
	margin: 0 auto
	padding: 15px
	background: #fff

	.shorts
		$color: $color-6

		padding: 15px
		background: $color-7

		h3
			margin-bottom: 10px
			color: $color
			font:
				size: 1.5em
				family: $font-1
			text-transform: uppercase

		ul
			li
				list-style: disc inside
				color: $color

				a
					display: block
					margin-bottom: 5px
					color: #fff
					font-size: 0.9em
					line-height: 130%
					text-decoration: none

					&:hover
						color: $color

		> .grid
			$color: $color-5

			> .grid-item
				&:last-child
					h3,
					ul li,
					ul li a:hover
						color: $color

	.payment
		@extend .clearfix

		margin-top: 15px

		.methods
			float: left

		.pagseguro
			float: right
			margin-top: 20px

	.copyright
		@extend .clearfix

		margin-top: 15px
		padding: 30px
		background: $color-3

		.mpcursos
			+replace-text-with-dimensions('logo-mpcursos-2.png')

			display: block
			float: left
			margin-right: 30px

		address
			float: left
			color: #fff
			margin-top: 5px
			font-size: 0.9em
			line-height: 140%

			a
				+transition(all 0.1s)

				color: $color-2
				text-decoration: none

				&:hover
					color: $color-5

		.agw
			+replace-text-with-dimensions('logo_agw.png')

			display: block
			float: right
			margin-top: 10px

.global-content
	+box-sizing(border-box)

	width: $main-width
	min-height: 300px
	position: relative
	margin: 0 auto
	padding: 30px 20px
	background: #fff

.layout-buy
	.global-header-container
		height: 121px

	.cart
		top: 45px

	.buy-steps
		+box-sizing(border-box)

		width: $main-width
		height: 91px
		margin: 15px auto
		padding: 15px
		background: $color-7

		.step
			width: 33.33%
			float: left
			padding-bottom: 10px
			border-bottom: 5px solid rgba(255, 255, 255, 0.5)
			color: rgba(255, 255, 255, 0.5)
			font:
				weight: bold
				size: 19px
				family: $font-1
			letter-spacing: -1px
			text-align: right

			span
				$height: 35px
				+border-radius(100px)

				display: inline-block
				width: $height
				height: $height
				margin-left: 5px
				border: 1px solid rgba(255, 255, 255, 0.5)
				line-height: $height
				text-align: center

		.step-highlight
			border-color: $color-1
			color: $color-1

			span
				border-color: $color-1
				color: $color-1

.nav-inside
	+background-image(linear-gradient(right, #eee, #fff 30%))
