.link-main
	+transition(all 0.1s)

	border-bottom: 1px dotted $color-3
	color: $color-3
	text-decoration: none

	&:hover
		color: darken($color-3, 10%)

.box-well
	+border-radius(3px)

	margin-bottom: 15px
	padding: 15px
	background: #eee
	line-height: 130%

.box-well-highlight
	background: $color-4

.content-box
	margin: 45px 0
	padding-top: 133px
	background:
		position: 50% 0
		repeat: no-repeat
	text-align: center

	p
		margin: 0.5em 0
		font:
			size: 1.3em
			family: $font-1
		line-height: 130%	

.content-empty
	@extend .content-box

	background-image: image-url('ico_empty.png')

.content-like
	@extend .content-box

	background-image: image-url('ico_like.png')

.content-security
	@extend .content-box

	background-image: image-url('ico_security.png')

.content-notfound
	@extend .content-box

	background-image: image-url('ico_chocolate.png')

.content-server
	@extend .content-box

	background-image: image-url('ico_engine.png')

.no-videoplayer
	+box-sizing(border-box)

	padding: 50px
	background: #fff
	color: #000
	line-height: 130%
	text-align: center

	h1
		margin-bottom: 15px
		font:
			size: 2.5em
			family: $font-1
		letter-spacing: -2px

	p
		margin: 1em 0
		font-size: 1.1em

.totalbar
	margin: 30px 0
	color: $color-3
	font:
		size: 2.3em
		family: $font-1
	text-align: right

	strong
		color: #222

.totalbar-highlight
	strong
		font-family: $font-2

.group-separate
	margin-top: 15px
	padding-top: 15px
	border-top: 3px solid #eee

.group-separate-fine
	border-top: 1px dotted #ccc
