.modal-wrapper
	z-index: 999
	display: table
	width: 100%
	height: 100%
	position: fixed
	left: 0
	top: 0
	background: rgba(0, 0, 0, 0.85)

	.modal-container
		display: table-cell
		vertical-align: middle
		text-align: center

		.modal-box
			+border-radius(3px)

			display: inline-block
			min-width: 500px
			min-height: 50px
			position: relative
			margin: 0 auto
			padding: 30px
			background: #fff
			text-align: left

			.modal-close
				+border-radius(100px)
				+transition(all 0.1s)

				display: block
				height: 13px
				width: 13px
				overflow: hidden
				position: absolute
				right: 10px
				top: 10px
				padding: 5px
				background: #333
				color: #fff
				font:
					size: 13px
					family: $font-1
				text:
					align: center
					decoration: none

				&:hover
					background: #222

		.modal-loading
			background: #fff image-url('ajax-loader2.gif') 50% 50% no-repeat
