.product-showcase
	@extend .clearfix

	.product-item
		+box-sizing(border-box)

		width: 222px
		height: 333px
		position: relative
		float: left
		margin: 7px
		padding: 5px
		border: 1px solid #eee

		.image
			img
				width: 100%

		.description
			margin-top: 5px
			color: #777
			font-size: 0.9em
			line-height: 130%

		.price-old
			margin-top: 5px
			color: $color-6
			font-size: 0.9em
			text-decoration: line-through

		.price-current
			margin-top: 5px
			color: $color-6
			font-size: 1.9em

		.price-free
			color: $color-success

		.buy
			+box-sizing(border-box)

			width: 210px
			position: absolute
			left: 5px
			bottom: 5px
			padding-top: 5px
			border-top: 1px solid #eee
			text-align: center

			a
				+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
				+border-radius(3px)
				+transition(all 0.1s)

				display: inline-block
				padding: 10px 15px
				background: $color-success
				color: #fff
				font:
					size: 0.9em
					family: $font-2
				text:
					transform: uppercase
					decoration: none

				&:hover
					background: lighten($color-success, 5%)
