.section-post
	@extend .clearfix

	margin-bottom: 25px
	padding-bottom: 15px
	border-bottom: 3px solid #eee

	.heading
		color: #222
		font:
			size: 2.3em
			family: $font-2
		line-height: 115%

	.date
		margin-top: 15px
		color: #999

.section-certified
	@extend .clearfix

	min-height: 200px
	margin-top: 30px
	padding: 30px 0 0 200px
	position: relative
	border-top: 3px solid #eee

	.avatar
		position: absolute
		left: 0
		top: 30px

	.resume
		h1
			margin-bottom: 15px
			font:
				size: 2.1em
				family: $font-2

.section-test
	header
		+border-radius(3px)

		margin-bottom: 15px

		h1
			font:
				size: 2.3em
				family: $font-2

	.note
		+border-radius(3px)
		+box-color($color-warning)

		margin-bottom: 15px
		padding: 10px 15px
		font-size: 1em
		line-height: 120%
		text-align: left !important

		h2
			margin: 5px 0 15px
			font:
				size: 1.5em
				family: $font-2

		p
			margin: 5px 0

		&.note-info
			+box-color($color-info)

		&.note-error
			+box-color($color-danger)

		&.note-success
			+box-color($color-success)

	form
		.block-question
			margin-top: 15px
			padding-top: 15px
			border-top: 1px dotted #ccc

			&:last-child
				border-bottom: none

			h5
				font:
					size: 1.3em
					family: $font-2
				line-height: 20px

				span
					color: $color-6

			.answer
				margin: 15px
