.slider-news
	margin-bottom: 15px

	.items
		@extend .clearfix

		height: 171px
		overflow: hidden

		li
			display: block
			height: 100%
			float: left

			a
				@extend .clearfix

				display: block
				text-decoration: none

				img
					float: left
					margin-right: 10px

				h4
					color: #222
					font:
						size: 1.7em
						family: $font-2

				.date
					margin-top: 10px
					color: $color-3

				.resume
					margin-top: 10px
					color: #222
					line-height: 130%

				&:hover
					h4,
					.resume
						+transition(all 0.1s)

						color: $color-6

	.index
		margin-top: 15px
		text-align: center

		a
			+border-radius(50px)

			display: inline-block
			width: 13px
			height: 13px
			margin: 0 3px
			background: #ccc
			text-indent: -9999px

			&.selected
				background: $color-3
