.testimonials
	padding: 15px
	background: $color-6
	color: #fff

	h4
		font:
			size: 2em
			family: $font-2
		text-align: center

	blockquote
		margin-top: 15px

		p
			padding: 15px
			background: $color-3
			line-height: 130%

		footer
			padding: 25px 0 0 35px
			background: image-url('arrow-down-2.png') 20% 0 no-repeat, image-url('ico_person.png') 0 100% no-repeat
			font:
				size: 1.2em
				family: $font-2
			line-height: 29px
