.wrapper
	overflow: hidden !important
.clear
	clear: both !important
.clearfix
	&:after
		content: ''
		display: table !important
		clear: both !important
.nowrap
	white-space: nowrap !important

.d-none
	display: none !important
.d-block
	display: block !important
.d-inline
	display: inline !important

.a-left
	text-align: left !important
.a-right
	text-align: right !important
.a-center
	text-align: center !important
.a-justify
	text-align: justify !important

.f-none
	float: none !important
.f-left
	float: left !important
.f-right
	float: right !important

.m-0
	margin: 0 !important
+property-range('margin-top', '.m-top', 0, 100, 5, 'px')
+property-range('margin-right', '.m-right', 0, 100, 5, 'px')
+property-range('margin-bottom', '.m-bottom', 0, 100, 5, 'px')
+property-range('margin-left', '.m-left', 0, 100, 5, 'px')

+property-range('width', '.w', 10, 1000, 10, 'px')

+property-range('height', '.h', 10, 1000, 10, 'px')
